{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}
<div class="container-fluid">

    <!-- Technology news -->
    <div class="row">
        <div class="panel panel-default">
        <h3 class="panel-header"> Technology News</h3>
        <ul>
            {{ macro.displaySourceList(technology)}}
        </ul>
        </div>
    </div>
    <!-- Sports news  -->
    <div class="row">
        <div class="panel panel-default">
        <h3 class="panel-header"> Sports News </h3>
        <ul>
            {{ macro.displaySourceList(sports)}}
        </ul>
     </div>
    </div>

    <!-- Entertainment news -->
    <div class="row">
        <div class="panel panel-default">
        <h3 class="panel-header"> Entertainment News</h3>
        <ul>
            {{ macro.displaySourceList(entertainment)}}
        </ul>
        </div>
    </div>
    

</div>



{% endblock%}