{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

     
        <div> {{ article.image }} </div>
        {% extends 'base.html'%}
        <h1> Hello News {{ id }} </h1>
        <div>
            <h3>{{ article.author }}</h3>
            <p> {{ article.url }} </p>

            <!-- <p class="content"> {{ article.content }}</p> -->
            <p class="content"> <b> {{ article.content }}</b> - <i>{{ article.date}} </i> </p>


        </div>
    </div>


{% endblock %}